<div class="about-section">
  <h1>About Us</h1>
  <p>At vero eos et accusam et justo duo dolores et ea rebum</p>
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua
  </p>
</div>

<h2 class="ourTeam" style="text-align: center ">Our Team</h2>
<div class="row">
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="bg-white p-5 rounded-lg shadow">
      <img
        src="https://www.nikon-image.com/products/slr/lineup/df/img/sample/img_01_l.jpg"
        class="img-thumbnail img-fluid  mx-auto d-block"
        alt="Responsive image"
        style="width: 100%; height: 160px;"

      />
      <div class="container ">
        <h2>Miki</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>miki@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="bg-white p-5 rounded-lg shadow">
      <img
        src="http://html5box.com/html5gallery/images/Waves_1024.jpg"
        class="img-thumbnail img-fluid  mx-auto d-block"
        alt="Responsive image"
        style="width: 100% ;height: 160px;"
      />
      <div class="container">
        <h2>Rossa</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>rossa@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="bg-white p-5 rounded-lg shadow">
      <img
        src="https://th.bing.com/th/id/OIP.L51qzGCLtslIZn42Q0BFhgHaE7?pid=Api&rs=1"
        class="img-thumbnail img-fluid  mx-auto d-block"
        alt="Responsive image"
        style="width: 100%; height: 160px;"
      />
      <div class="container">
        <h2>John</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
