



.container{
  height: 100%;
  width: 100%;

}

.nav-link{
  cursor: pointer;
}
.navbar ul li a:hover{
  color:rgb(164, 201, 199);
}






.navbar{

  display:flex;
  height: 60px;
  /*background:rgba(126, 156, 158, 0.7)*/
}

section{
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align: center;
  height:100vh;
  width: 100%;
 
  
}


h1{
  font-size: 4rem;
}

p{
    font-size: 1.5rem;
}








