<!--<img
  class="view no-repeat center center fixed -webkit-background-size: cover -moz-background-size: cover -o-background-size: cover background-size: cover"
  id="bg"
  src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(11).jpg"
  alt="image"
/>-->
<div class="container">
  <div>
  <app-header> </app-header>
</div>

<div>
  <section id="homeSection">
    <app-home> </app-home>
  </section>
</div>


<div class="row border-bottom border-info"></div>

<div>
  <section id="servicesSection">
    <app-services> </app-services>
  </section>
</div>


  <div class="row border-bottom border-info"></div>


  <div>
  <section id="planSection">
    <app-plan></app-plan>
  </section>
</div>



  <div class="row border-bottom border-info"></div>

  <div>
  <section id="about">
    <app-about></app-about>
  </section>
</div>


  <router-outlet></router-outlet>
</div>
