.serv{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6),url(https://www.nikon-image.com/products/slr/lineup/df/img/sample/img_01_l.jpg));
    background-size: cover;
    background-position:center;

}
.icon{
    font-size:40px;
    margin:20px auto;
    padding:20px;
    height:80px;
    width:80px;
    border: 1px solid rgb(10, 94, 89);
    border-radius: 50%;
}
.col-md-3:hover{
    box-shadow:5px 7px 9px -3px rgba(6, 58, 45, 0.5);
    cursor:pointer;
}
.serv {
    padding: 50px;
    text-align: center;
   
    color: rgb(5, 34, 28);
  }